<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Добро пожаловать в систему MFTI</h2>
      </div>
      <div class="card-body">
        <p>Система для определения приоритета пациентов по шкале Maternal Fetal Triage Index (MFTI).</p>
        <div class="row">
          <div class="col">
            <a href="/patients/new" class="btn">Добавить пациента</a>
            <a href="/beds" class="btn btn-secondary">Мониторинг</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>